/ {
    aliases {
        ledred = &red_led;
        ledyellow = &yellow_led;
        tempsensor = &bmp280;
    };

    leds {
        compatible = "gpio-leds";
        
        red_led: led_0 {
            gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
            label = "Red Status LED";
        };
        
        yellow_led: led_1 {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
            label = "Yellow Status LED";
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    bmp280: bmp280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;
        status = "okay";
    };
};